html {
  scroll-behavior: smooth;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'RobotoC';
  font-size: 15px;
  line-height: 1.5em;
  background-color: white;
  overflow-x: hidden;
}

.main-container {
  min-height: 100vh;
  width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
  &.overlay {
    background-color: rgba(203, 218, 220, 0.9);
    filter: brightness(0.5);
  }
  @media only screen and (max-width: 1000px) {
    width: 100vw;
    margin: unset;
    padding: 0 20px;
  }
  @media only screen and (max-width: 800px) {
    margin: 50px 0;
    width: 100%;
  }
}

h1, h2 {
  margin: 15px 0;
  color: #228780;
  font-size: 25px;
  font-family: 'Raleway';
  line-height: 1em;
  @media only screen and (max-width: 800px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 15px;
  @media only screen and (max-width: 800px) {
    grid-template-columns: unset;
    display: block;
  }
  img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    @media only screen and (max-width: 800px) {
      width: 90vw;
    }
    &:hover {
      filter: brightness(0.8);
    }
  }
  .portfolio-item {
    display: grid;
    grid-auto-flow: row;
    margin-top: 15px;
    @media only screen and (max-width: 800px) {
      grid-template-rows: 1fr auto 45px;
    }
    &:hover {
      z-index: 0;
    }
    p {
      margin-top: 15px;
      font-family: "RobotoC";
      font-weight: bolder;
    }
  }
}

.navbar {
  a {
    font-size: 17px;
    // font-family: 'Raleway';
  }
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s;
}

.slide-down-enter,
.slide-down-leave-active {
  margin-top: -50px;
}
