@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('~assets/fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway Bold';
  font-weight: bold;
  src: url('~assets/fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto';
  font-style: normal;
  src: url('~assets/fonts/NotoSansJP-Medium.otf') format('truetype');
}
